<!DOCTYPE html>
<html>
<script src="https://cdn.plot.ly/plotly-1.58.5.min.js"></script>
<body>

<div id="myPlot"></div>
<footer align="center" style="width: $WIDTH$px;"><sub>$FOOTNOTE$</sub></footer>
<script>
  var xArray = $DATAX$;
  var yArray = $DATAY$;
  var txtArray = $INFO$;
  var layout = {title:'$TITLE_CHART$',
                width:$WIDTH$,
                height:$HEIGHT$};

  var data = [{
      labels:xArray,
      values:yArray,
      text: txtArray,
      hovertemplate: "%{label} : %{value} (%{percent}) <br>%{text}<extra></extra>",
      textinfo : 'percent',
      type:"pie"}];

  Plotly.newPlot("myPlot", data, layout);
</script>

</body>
</html>